{% extends "layout.html" %}
{% block title %}Student Conduct Tracker{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
<div class="fb-det">
    <form method="post">
        <div class="fb-row">
            <input name="name" type="text" placeholder="Enter Full Name" class="form-control">
        </div>
        <div class="fb-row">
            <input name="email" type="email" placeholder="Enter Email Address" class="form-control">
        </div>
        <div class="fb-row">
            <input name="mobile" type="text" placeholder="Enter Mobile Number" class="form-control">
        </div>
        <div class="fb-row">
            <button type="submit" class="btn btn-info">Book Consultation</button>
        </div>
    </form>
</div>
{% endblock %}